

:root {
    --primaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 10%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --grayBg: hsl(0, 0%, 96%);
    --grayText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    /* boxShadow: box-shadow: 0 2px 8px 2px rgba(178,178,179,0.189); */
  }
  
  .search {
    height: 40vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
      url(C:/Users/MONO/Documents/Booking/tourtravel/src/assets/image2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
  }
  
  .secContainer .homeCard {
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    background: var(--whiteColor);
    position: absolute;
    gap: 1rem;
    justify-content: center;
    bottom: -35%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
  }
  
  .secContainer .homeCard .locationDiv,
  .secContainer .homeCard .distDiv,
  .secContainer .homeCard .priceDiv {
    width: 100%;
  }
  
  .secContainer .homeCard .locationDiv label,
  .secContainer .homeCard .distDiv label,
  .secContainer .homeCard .priceDiv label {
    display: block;
    color: var(--textColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 0.4rem;
  }
  
  .secContainer .homeCard .locationDiv input,
  .secContainer .homeCard .distDiv input,
  .secContainer .homeCard .priceDiv input {
    width: 100%;
    background: var(--inputColor);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
  }
  
  .secContainer .homeCard .locationDiv input::placeholder,
  .secContainer .homeCard .distDiv input::placeholder,
  .secContainer .homeCard .priceDiv input::placeholder {
    font-size: 13px;
    opacity: 0.5;
    font-weight: 400;
  }
  
  .secContainer .homeCard .locationDiv input:focus,
  .secContainer .homeCard .distDiv input:focus,
  .secContainer .homeCard .priceDiv input:focus {
    outline: none;
  }
  
  .secContainer .homeCard .btn {
    width: 100%;
    padding: 0.6rem 1.5rem;
    color: var(--whiteColor);
    font-weight: 600;
  }
  

  @media screen and (min-width:480px){
    .search{
            .secContainer{
              .homeCard{
                bottom: -100px;
                width: 90%;
                grid-template-columns: repeat(2,1 fr);
                .btn{
                  transform: translateY(15px);
                }
              }
            }
    }
  }

  @media screen and (min-width:556px){
    .search{
            .secContainer{
              .homeText{
                .title{
                  font-size: 2.5rem;
                }
                .subTitle{
                  font-size: 18px;
                }
              }
            }
    }
  }

  @media screen and (min-width:720px){
    .search{
            .secContainer{
              .homeCard{
                bottom: -10%;
                grid-template-columns: repeat(4,1fr);
              }
              
            }
    }
  }
    
    
  @media screen and (min-width:1024px){
    .search{
          .secContainer{
            .homeText{
              .subTitle{
                font-size: 20px;
              }
            }
            .homeCard{
              width: 95%;
            }
          }  
  }
  }
  
  .searchable-dropdown {
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
 
  
  select{
    width: 100%;
    border-color: #cbbcbc59;
  }




/* src/components/searchBus.css */
.search {
  padding: 20px;
}

.secContainer {
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  padding: 20px;
}

.sidebar {
  flex: 1;
  margin-right: 20px;
}

.bus-card-section {
  
  padding-top: 25px;
 
}









  